[submodule "submodules/utils"]
	path = submodules/utils
	url = git@github.com:lisper-inmove/python-utils.git
[submodule "proto/common"]
	path = proto/common
	url = git@github.com:lisper-inmove/common-protos.git
