[submodule "submodules/utils"]
	path = submodules/utils
	url = http://gitlab.inmove.top/publicarea/pythonutils.git
[submodule "proto/Common"]
	path = proto/Common
	url = http://gitlab.inmove.top/root/CommonProto.git
